In [7]:
# Pandas and numpy for data manipulation
import pandas as pd
import numpy as np

# Matplotlib visualization
import matplotlib.pyplot as plt
%matplotlib inline

# Seaborn for visualization
import seaborn as sns

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
Data = pd.read_csv('/home/datascience/Downloads/dump_Sheet.csv')

In [5]:
Data.head(20)

,bid,pid_bid,floor,remark,zone,ward,commercial_type,premise_type,area,owner_name,...,mother_name,interest,arrears,current_due,road_type,own_type,creator,created_time,gid,road_size
0,8897,M1_8897,0,\N,1,1,\N,निवासी,43.5,प्रकाश गोविंद मोहिते़ नीतिन गोविंद मोहिते,...,\N,\N,\N,\N,\N,\N,\N,\N,1,10-30
1,8896,b1_8896,0,\N,1,1,\N,निवासी,11.3,अर्चना बाळासाहेब जाधव,...,\N,\N,\N,\N,\N,\N,\N,\N,2,10-30
2,8967,M1_8967,0,\N,1,1,\N,निवासी,28.5,बाबासाहेब दगडू गाडे,...,\N,\N,\N,\N,\N,\N,\N,\N,3,10-30
3,8977n1,e1_8977N1,0,\N,1,1,\N,निवासी,23.3,नवनाथ महाकुंडे,...,\N,\N,\N,\N,\N,\N,\N,\N,4,10-30
4,8977,b1_8977,0,\N,1,1,\N,निवासी,33.0,सुभाष लक्ष्मण जाधव,...,\N,\N,\N,\N,\N,\N,\N,\N,5,10-30
5,8977n,b1_8977N,0,\N,1,1,\N,सहन जागा,78.0,लक्ष्मण कोठोळे,...,\N,\N,\N,\N,\N,\N,\N,\N,6,10-30
6,8986,d1_8986,0,\N,1,1,\N,निवासी,19.5,शिवबाई शामराव परताडे,...,\N,\N,\N,\N,\N,\N,\N,\N,7,10-30
7,8986a,C1_8986A,0,\N,1,1,\N,निवासी,51.8,लक्ष्मण लिंबाजी कोतुळे,...,\N,\N,\N,\N,\N,\N,\N,\N,8,10-30
8,8978,M1_8978,0,\N,1,1,\N,निवासी,37.5,सुभाष लक्ष्मण जाधव,...,\N,\N,\N,\N,\N,\N,\N,\N,9,10-30
9,8978,M2_8978,0,\N,1,1,\N,निवासी,11.3,सुभाष लक्ष्मण जाधव,...,\N,\N,\N,\N,\N,\N,\N,\N,10,10-30
10,8978n1,e1_8978N1,0,\N,1,1,\N,निवासी,13.5,भास्कर बदीराम तांगळे,...,\N,\N,\N,\N,\N,\N,\N,\N,11,10-30
11,8978n2,M1_8978N2,0,\N,1,1,\N,निवासी,15.0,गर्वधन बळीराम तांगळे,...,\N,\N,\N,\N,\N,\N,\N,\N,12,10-30
12,8989a,C1_8989A,0,\N,1,1,\N,निवासी,39.0,बापूराव दादाराव जाधव,...,\N,\N,\N,\N,\N,\N,\N,\N,13,40-60
13,8989b,b1_8989B,0,\N,1,1,\N,निवासी,33.8,वैजीनाथ आबाराव जाधव,...,\N,\N,\N,\N,\N,\N,\N,\N,14,40-60
14,8989b,b2_8989B,0,\N,1,1,Shop,वाणिज्य,7.2,वैजीनाथ आबाराव जाधव,...,\N,\N,\N,\N,\N,\N,\N,\N,15,40-60
15,8989b,b3_8989B,0,\N,1,1,\N,निवासी,6.8,वैजीनाथ आबाराव जाधव,...,\N,\N,\N,\N,\N,\N,\N,\N,16,40-60
16,8989,b1_8989,0,\N,1,1,\N,निवासी,50.0,निलाबाई नामदेव पाठक,...,\N,\N,\N,\N,\N,\N,\N,\N,17,10-30
17,8993,d1_8993,0,\N,1,1,\N,निवासी,42.0,बगलाने,...,\N,\N,\N,\N,\N,\N,\N,\N,18,10-30
18,8988,e1_8988,0,\N,1,1,\N,निवासी,21.0,कल्याण श्रीराम शेणगे,...,\N,\N,\N,\N,\N,\N,\N,\N,19,10-30
19,8984,e1_8984,0,\N,1,1,\N,निवासी,30.0,मंगल नारायण जाधव,...,\N,\N,\N,\N,\N,\N,\N,\N,20,10-30

In [9]:
Data.head()

,bid,pid_bid,floor,remark,zone,ward,commercial_type,premise_type,area,owner_name,address,mobile_no,building_type,house_no,bid_photo,pid_photo,zone_ward,final_tax,old_house_no,rate,annual_value,ten_off,ratable_value,pid_bid_unique,plot_area,father_name,husband_name,mother_name,interest,arrears,current_due,road_type,own_type,creator,created_time,gid,road_size
0,8897,m1_8897,0,\N,1,1,\N,निवासी,43.5,प्रकाश गोविंद मोहिते़ नीतिन गोविंद मोहिते,नरसुबा नगर,8857025030,पत्रा,1-1-1,\N,\N,Z 1 W 1,563.76,1-1-,5.0,2610.0,261,2349,M1_8897_0,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,1,10-30
1,8896,b1_8896,0,\N,1,1,\N,निवासी,11.3,अर्चना बाळासाहेब जाधव,नरसुबा नगर,\N,पत्रा,1-1-2,\N,\N,Z 1 W 1,145.80,1-1-,5.0,675.0,68,608,b1_8896_0,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,2,10-30
2,8967,m1_8967,0,\N,1,1,\N,निवासी,28.5,बाबासाहेब दगडू गाडे,नरसुबा नगर,9673975751,पत्रा,1-1-3,\N,\N,Z 1 W 1,369.36,1-1-1934,5.0,1710.0,171,1539,M1_8967_0,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,3,10-30
3,8977n1,e1_8977n1,0,\N,1,1,\N,निवासी,23.3,नवनाथ महाकुंडे,नरसुबा नगर,9011303581,पत्रा,1-1-4,\N,\N,Z 1 W 1,301.32,1-1-,5.0,1395.0,140,1256,e1_8977N1_0,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,4,10-30
4,8977,b1_8977,0,\N,1,1,\N,निवासी,33.0,सुभाष लक्ष्मण जाधव,नरसुभा नगर,\N,आर.सी.सी.,1-1-5,\N,\N,Z 1 W 1,855.36,1-1-648,10.0,3960.0,396,3564,b1_8977_0,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,5,10-30

In [6]:
Data['pid_bid']=Data['pid_bid'].str.lower()

In [10]:
Data['bid']=Data['bid'].str.lower()

In [11]:
Data['pid_bid_unique']=Data['pid_bid_unique'].str.lower()

In [12]:
Data.head()

,bid,pid_bid,floor,remark,zone,ward,commercial_type,premise_type,area,owner_name,address,mobile_no,building_type,house_no,bid_photo,pid_photo,zone_ward,final_tax,old_house_no,rate,annual_value,ten_off,ratable_value,pid_bid_unique,plot_area,father_name,husband_name,mother_name,interest,arrears,current_due,road_type,own_type,creator,created_time,gid,road_size
0,8897,m1_8897,0,\N,1,1,\N,निवासी,43.5,प्रकाश गोविंद मोहिते़ नीतिन गोविंद मोहिते,नरसुबा नगर,8857025030,पत्रा,1-1-1,\N,\N,Z 1 W 1,563.76,1-1-,5.0,2610.0,261,2349,m1_8897_0,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,1,10-30
1,8896,b1_8896,0,\N,1,1,\N,निवासी,11.3,अर्चना बाळासाहेब जाधव,नरसुबा नगर,\N,पत्रा,1-1-2,\N,\N,Z 1 W 1,145.80,1-1-,5.0,675.0,68,608,b1_8896_0,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,2,10-30
2,8967,m1_8967,0,\N,1,1,\N,निवासी,28.5,बाबासाहेब दगडू गाडे,नरसुबा नगर,9673975751,पत्रा,1-1-3,\N,\N,Z 1 W 1,369.36,1-1-1934,5.0,1710.0,171,1539,m1_8967_0,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,3,10-30
3,8977n1,e1_8977n1,0,\N,1,1,\N,निवासी,23.3,नवनाथ महाकुंडे,नरसुबा नगर,9011303581,पत्रा,1-1-4,\N,\N,Z 1 W 1,301.32,1-1-,5.0,1395.0,140,1256,e1_8977n1_0,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,4,10-30
4,8977,b1_8977,0,\N,1,1,\N,निवासी,33.0,सुभाष लक्ष्मण जाधव,नरसुभा नगर,\N,आर.सी.सी.,1-1-5,\N,\N,Z 1 W 1,855.36,1-1-648,10.0,3960.0,396,3564,b1_8977_0,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,5,10-30

In [16]:
Data.to_csv('/home/datascience/Downloads/Dumb.csv')

In [69]:
Data2=pd.read_csv('/home/datascience/Downloads/BID_dump.csv')

In [70]:
Data3= pd.read_csv('/home/datascience/Downloads/PID_dump.csv')

/home/datascience/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (6,7,18,19,20,21,22,24,27,28,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [71]:
Data2.head()

,id,bid,geom,h_no,zone,ward,muncipal_connection,road_type,gid
0,0,11155,01060000000100000001030000000100000005000000BC...,01-01-3259,1,1,municipal connection,Other Road 10 Feet To 30 Feet,1
1,0,8906A,0106000000010000000103000000010000000500000058...,01-01-1948,1,1,Borewell,Other Road 10 Feet To 30 Feet,2
2,0,8992,0106000000010000000103000000010000000500000070...,01-01-2021,1,1,Borewell,City Main road 40 Feet To 60 Feet,3
3,0,10075,0106000000010000000103000000010000000500000064...,1-1-1312,1,1,municipal connection,Other Road 10 Feet To 30 Feet,4
4,0,10527,0106000000010000000103000000010000000500000010...,01-01-2027,1,1,municipal connection,Other Road 10 Feet To 30 Feet,5

In [72]:
Data3.head()

,id,pid_bid,bid,floor1,remark,geom,ward,zone,commercial_type,premise_type,owner_name,address,mobile_no,building_type,house_no,bid_photo,pid_photo,zone_ward,final_tax,rate,annual_value,ten_off,ratable_value,old_house_no,area,own_type,pid_bid_unique,floor,arrears,interest,current_due,gid
0,0,A3_10085,10085,0,\N,0106000000010000000103000000010000000500000040...,1,1,\N,\N,\N,\N,\N,\N,\N,\N,\N,Z 1 W 1,\N,\N,\N,\N,\N,\N,\N,\N,\N,0,\N,\N,\N,83590
1,0,\N,10002N,1,Open Space,0106000000010000000103000000010000000500000080...,1,1,\N,\N,\N,\N,\N,\N,\N,\N,\N,Z 1 W 1,\N,\N,\N,\N,\N,\N,\N,\N,\N,1,\N,\N,\N,83598
2,0,\N,9889,1,Open Space,0106000000010000000103000000010000000500000000...,1,1,\N,\N,\N,\N,\N,\N,\N,\N,\N,Z 1 W 1,\N,\N,\N,\N,\N,\N,\N,\N,\N,1,\N,\N,\N,83601
3,0,\N,9028,1,Open Space,010600000001000000010300000001000000050000007C...,1,1,\N,\N,\N,\N,\N,\N,\N,\N,\N,Z 1 W 1,\N,\N,\N,\N,\N,\N,\N,\N,\N,1,\N,\N,\N,83624
4,0,C1_9189,9189,0,\N,0106000000010000000103000000010000000500000088...,1,1,\N,निवासी,सुभाष लोंके,गणेश् नगर,\N,पत्रा,1-1-471,\N,\N,Z 1 W 1,213.84,5,990,99,891,1-1-,16.5,\N,C1_9189_0,0,0,0,0,30039

In [73]:
Data3['pid_bid']=Data3['pid_bid'].str.lower()
Data3['bid']=Data3['bid'].str.lower()
Data3['pid_bid_unique']=Data3['pid_bid_unique'].str.lower()

In [74]:
Data3.to_csv('/home/datascience/Downloads/PID_dump_small_case.csv')

In [75]:
Data2['bid']=Data2['bid'].str.lower()

In [76]:
Data2.to_csv('/home/datascience/Downloads/BID_dump_small_case.csv')

In [77]:
Data2.head()

,id,bid,geom,h_no,zone,ward,muncipal_connection,road_type,gid
0,0,11155,01060000000100000001030000000100000005000000BC...,01-01-3259,1,1,municipal connection,Other Road 10 Feet To 30 Feet,1
1,0,8906a,0106000000010000000103000000010000000500000058...,01-01-1948,1,1,Borewell,Other Road 10 Feet To 30 Feet,2
2,0,8992,0106000000010000000103000000010000000500000070...,01-01-2021,1,1,Borewell,City Main road 40 Feet To 60 Feet,3
3,0,10075,0106000000010000000103000000010000000500000064...,1-1-1312,1,1,municipal connection,Other Road 10 Feet To 30 Feet,4
4,0,10527,0106000000010000000103000000010000000500000010...,01-01-2027,1,1,municipal connection,Other Road 10 Feet To 30 Feet,5

In [78]:
Data3.head()

,id,pid_bid,bid,floor1,remark,geom,ward,zone,commercial_type,premise_type,owner_name,address,mobile_no,building_type,house_no,bid_photo,pid_photo,zone_ward,final_tax,rate,annual_value,ten_off,ratable_value,old_house_no,area,own_type,pid_bid_unique,floor,arrears,interest,current_due,gid
0,0,a3_10085,10085,0,\N,0106000000010000000103000000010000000500000040...,1,1,\N,\N,\N,\N,\N,\N,\N,\N,\N,Z 1 W 1,\N,\N,\N,\N,\N,\N,\N,\N,\n,0,\N,\N,\N,83590
1,0,\n,10002n,1,Open Space,0106000000010000000103000000010000000500000080...,1,1,\N,\N,\N,\N,\N,\N,\N,\N,\N,Z 1 W 1,\N,\N,\N,\N,\N,\N,\N,\N,\n,1,\N,\N,\N,83598
2,0,\n,9889,1,Open Space,0106000000010000000103000000010000000500000000...,1,1,\N,\N,\N,\N,\N,\N,\N,\N,\N,Z 1 W 1,\N,\N,\N,\N,\N,\N,\N,\N,\n,1,\N,\N,\N,83601
3,0,\n,9028,1,Open Space,010600000001000000010300000001000000050000007C...,1,1,\N,\N,\N,\N,\N,\N,\N,\N,\N,Z 1 W 1,\N,\N,\N,\N,\N,\N,\N,\N,\n,1,\N,\N,\N,83624
4,0,c1_9189,9189,0,\N,0106000000010000000103000000010000000500000088...,1,1,\N,निवासी,सुभाष लोंके,गणेश् नगर,\N,पत्रा,1-1-471,\N,\N,Z 1 W 1,213.84,5,990,99,891,1-1-,16.5,\N,c1_9189_0,0,0,0,0,30039

In [80]:
Data.head()

,bid,pid_bid,floor,remark,zone,ward,commercial_type,premise_type,area,owner_name,address,mobile_no,building_type,house_no,bid_photo,pid_photo,zone_ward,final_tax,old_house_no,rate,annual_value,ten_off,ratable_value,pid_bid_unique,plot_area,father_name,husband_name,mother_name,interest,arrears,current_due,road_type,own_type,creator,created_time,gid,road_size
0,8897,m1_8897,0,\N,1,1,\N,निवासी,43.5,प्रकाश गोविंद मोहिते़ नीतिन गोविंद मोहिते,नरसुबा नगर,8857025030,पत्रा,1-1-1,\N,\N,Z 1 W 1,563.76,1-1-,5.0,2610.0,261,2349,m1_8897_0,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,1,10-30
1,8896,b1_8896,0,\N,1,1,\N,निवासी,11.3,अर्चना बाळासाहेब जाधव,नरसुबा नगर,\N,पत्रा,1-1-2,\N,\N,Z 1 W 1,145.80,1-1-,5.0,675.0,68,608,b1_8896_0,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,2,10-30
2,8967,m1_8967,0,\N,1,1,\N,निवासी,28.5,बाबासाहेब दगडू गाडे,नरसुबा नगर,9673975751,पत्रा,1-1-3,\N,\N,Z 1 W 1,369.36,1-1-1934,5.0,1710.0,171,1539,m1_8967_0,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,3,10-30
3,8977n1,e1_8977n1,0,\N,1,1,\N,निवासी,23.3,नवनाथ महाकुंडे,नरसुबा नगर,9011303581,पत्रा,1-1-4,\N,\N,Z 1 W 1,301.32,1-1-,5.0,1395.0,140,1256,e1_8977n1_0,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,4,10-30
4,8977,b1_8977,0,\N,1,1,\N,निवासी,33.0,सुभाष लक्ष्मण जाधव,नरसुभा नगर,\N,आर.सी.सी.,1-1-5,\N,\N,Z 1 W 1,855.36,1-1-648,10.0,3960.0,396,3564,b1_8977_0,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,5,10-30

In [82]:
a =Data.groupby(['bid']).agg(Data['pid_bid']['count'])

In [84]:
a.head(25)

,pid_bid,floor,remark,zone,ward,commercial_type,premise_type,area,owner_name,address,mobile_no,building_type,house_no,bid_photo,pid_photo,zone_ward,final_tax,old_house_no,rate,annual_value,ten_off,ratable_value,pid_bid_unique,plot_area,father_name,husband_name,mother_name,interest,arrears,current_due,road_type,own_type,creator,created_time,gid,road_size
,count,count,count,count,count,count,count,count,count,count,count,count,count,count,count,count,count,count,count,count,count,count,count,count,count,count,count,count,count,count,count,count,count,count,count,count
bid,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18
1,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
10,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
100,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
1000,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
10000,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
10001,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
10002,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
10002n,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
10002n1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
10003,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
10003n,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
10008,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
10008a,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
10008n,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1000z31,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1000z315,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
1000z317,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1000z318,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1000z31a,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1000z32,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
1000z32n,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1001,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
10010,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
10012,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2

In [29]:
import datetime
import os, glob
from shapely import wkb

import os

In [15]:
fileshh = glob.glob(os.path.join(('/home/datascience/Downloads/ward_1/BID'),"*.jpeg"))

In [36]:
fileshh

['/home/datascience/Downloads/check.jpeg']

In [ ]:
for file in fileshh[:]:
    dt = Image.open(file)
    name = os.path.basename(file)
    name = os.path.splitext(name)[0]
    df.to_csv(file.replace("/home/datascience/Downloads/add check", "/home/datascience/Downloads/add check 2").replace("json","csv"), index=False)

In [37]:
fileshh = glob.glob(os.path.join(('/home/datascience/Downloads/check img'),"*.jpeg"))

In [38]:
fileshh

['/home/datascience/Downloads/check img/check1.jpeg']

In [39]:
for file in fileshh[:]:
    dt = Image.open(file)
    name = os.path.basename(file)
    name = os.path.splitext(name)[0]

In [40]:
name

'check1'

In [33]:


path = r'/home/datascience/Downloads/check img/'
outpath = '/home/datascience/Downloads/check img/check 2/'

filenames = glob.glob(path + "*.jpeg") #read all files in the path mentioned

for x in filenames:
    src_fname, ext = os.path.splitext(x)  # split filename and extension
     # construct output filename, basename to remove input directory
    save_fname = os.path.join(outpath, os.path.basename(src_fname)+'.jpeg')
    im.save(save_fname)

NameError: name 'im' is not defined

In [245]:
a=dt['arvDifference'].notnull().sum()-dt['arvDifference'].isnull().sum()

In [246]:
a

151

In [34]:
filenames

['/home/datascience/Downloads/check img/check1.jpeg']

In [35]:
filename

'check'

In [43]:
fileshh = glob.glob(os.path.join(('/home/datascience/Downloads/check img'),"*.jpeg"))

In [44]:
fileshh

['/home/datascience/Downloads/check img/Check1.jpeg']

In [49]:
for file in fileshh[:]:
    dt = Image.open(file)
    name = os.path.basename(file)
    name = os.path.splitext(name)[0].lower()

In [46]:
name

'Check1'

In [48]:
name.lower()

'check1'

In [50]:
from tqdm import tqdm

In [61]:
from tqdm import tqdm

path = glob.glob(os.path.join(('/home/datascience/Downloads/ward_1 check/BID'),"*.jpeg"))

def image_rename():
    cnt = 1
    for img in tqdm(os.listdir(path)):
        if os.path.isfile(path+img):
            filename, file_extention = os.path.splitext(path+img)
            os.rename(os.path.join(path, img), os.path.join(path, 
                       img.lower()+ file_extention))
    cnt +=1

image_rename()

TypeError: listdir: path should be string, bytes, os.PathLike, integer or None, not list

In [ ]:
A1_123n1N.jpeg  a

# Working code

In [66]:
path='/home/datascience/Downloads/check img/'
def image_rename():
    for img in tqdm(os.listdir(path)):
        if os.path.isfile(path+img):
            filename, file_extention = os.path.splitext(path+img)
            os.rename(os.path.join(path, img), os.path.join('/home/datascience/Downloads/check img/check 2', 
                            img.lower()))

image_rename()

100%|██████████| 2/2 [00:00<00:00, 2863.98it/s]

-=-   
 ----  
  ---

# Code

In [315]:
fileshh = glob.glob(os.path.join(('/home/datascience/Downloads/ward_1 check/BID/All new'),"*.jpeg"))

In [316]:
df = pd.DataFrame()
BID_column = []
for file in fileshh[:]:
    name = os.path.basename(file)
    name = os.path.splitext(name)[0]
    name= name.lower()
    BID_column.append(name)

In [317]:
df["BID_match"] = BID_column   
df.head()

  BID_match
0     29z21
1     65z21
2      2z21
3      6z21
4     33z21

In [318]:
df.shape

(34, 1)

In [320]:
dump = pd.read_csv('/home/datascience/Downloads/Dump Sheet clear.csv')

In [321]:
dump.head(2)

,Unnamed: 0,bid,pid_bid,floor,remark,zone,ward,commercial_type,premise_type,area,owner_name,address,mobile_no,building_type,house_no,bid_photo,pid_photo,zone_ward,final_tax,old_house_no,rate,annual_value,ten_off,ratable_value,pid_bid_unique,plot_area,father_name,husband_name,mother_name,interest,arrears,current_due,road_type,own_type,creator,created_time,gid,road_size
0,0,8897,m1_8897,0,\N,1,1,\N,निवासी,43.5,प्रकाश गोविंद मोहिते़ नीतिन गोविंद मोहिते,नरसुबा नगर,8857025030,पत्रा,1-1-1,\N,\N,Z 1 W 1,563.76,1-1-,5.0,2610.0,261,2349,m1_8897_0,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,1,10-30
1,1,8896,b1_8896,0,\N,1,1,\N,निवासी,11.3,अर्चना बाळासाहेब जाधव,नरसुबा नगर,\N,पत्रा,1-1-2,\N,\N,Z 1 W 1,145.80,1-1-,5.0,675.0,68,608,b1_8896_0,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,2,10-30

In [ ]:
df1.loc[df1.B.isin(df2['0'])]

In [322]:
a= dump.loc[dump.bid.isin(df['BID_match'])]

In [326]:
a.head()

,Unnamed: 0,bid,pid_bid,floor,remark,zone,ward,commercial_type,premise_type,area,owner_name,address,mobile_no,building_type,house_no,bid_photo,pid_photo,zone_ward,final_tax,old_house_no,rate,annual_value,ten_off,ratable_value,pid_bid_unique,plot_area,father_name,husband_name,mother_name,interest,arrears,current_due,road_type,own_type,creator,created_time,gid,road_size
36840,36840,98z21,g1_98z21,0,\N,2,1,\N,वाणिज्य,108.8,महेबुबिया मस्जिद,जुना बाझार,\N,आर.सी.सी.,2-1-1,\N,\N,Z 2 W 1,7050.24,2-1,25.0,32640.0,3264,29376,g1_98z21_0,288,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,37234,40-60
36841,36841,96z21,g1_96z21,0,\N,2,1,\N,निवासी,31.9,शाहनूर बेगम हरून शेख,जुना बाझार,9860862965,धाबा,2-1-2,\N,\N,Z 2 W 1,578.34,2-1-3,7.0,2677.5,268,2410,g1_96z21_0,127,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,37235,10-30
36842,36842,96z21,g2_96z21,0,\N,2,1,\N,निवासी,31.9,शाहनूर बेगम हरून शेख,जुना बाझार,\N,आर.सी.सी.,2-1-2,\N,\N,Z 2 W 1,826.20,2-1-3,10.0,3825.0,383,3443,g2_96z21_0,127,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,37236,10-30
36843,36843,96z21,g1_96z21,1,\N,2,1,\N,निवासी,33.8,शाहनूर बेगम हरून शेख,जुना बाझार,9860862965,धाबा,2-1-2,\N,\N,Z 2 W 1,612.36,2-1-3,7.0,2835.0,284,2552,g1_96z21_1,127,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,37237,10-30
36844,36844,93z21,g1_93z21,0,\N,2,1,\N,निवासी,18.0,काशिनाथ मिलिंद यानडे,जुना बाझार,\N,धाबा,2-1-3,\N,\N,Z 2 W 1,326.59,2-1-4,7.0,1512.0,151,1361,g1_93z21_0,78,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,37238,10-30

In [324]:
a.shape

(63, 38)

----
-
-
-
-

In [107]:
import shapefile

In [114]:
import geopandas as gpd

In [115]:
shp = gpd.read_file("/home/datascience/Downloads/Colony_Mohalla_Boundary/Colony_Mohalla_Boundary1582111551965.shp")

In [116]:
shp.head()

,Colony_Moh,Zone_Name,ward_Name,Colony_M_1,SHAPE_Leng,SHAPE_Area,name_en,Cities,NigamAppro,Old_Proper,Surveyed_P,QC_Approv,is_approve,geometry
0,Viram Khand-5,Gomti Nagar,Rajeev Gandhi-2,0.383549,3214.871175,383548.783091,Viram Khand-5,None,None,None,None,None,2,"POLYGON ((80.99763121825163 26.84282073156636,..."
1,Viram Khand-4,Gomti Nagar,Rajeev Gandhi-2,0.061182,1076.897938,61182.106130,Viram Khand-4,None,None,None,None,None,2,"POLYGON ((81.00080082707882 26.84479346235298,..."
2,Viram Khand-3,Gomti Nagar,Rajeev Gandhi-2,0.105851,1427.204884,105851.170079,Viram Khand-3,None,None,None,None,None,2,"POLYGON ((81.00329812788928 26.84681595970718,..."
3,Viram Khand-2,Gomti Nagar,Rajeev Gandhi-2,0.204011,1944.737263,204010.972445,Viram Khand-2,None,None,None,None,None,2,"POLYGON ((81.00617562549326 26.84902102250529,..."
4,Viram Khand-1,Gomti Nagar,Rajeev Gandhi-2,0.213533,2112.332021,213533.334626,Viram Khand-1,None,None,None,None,None,2,"POLYGON ((81.00402304685012 26.85221683732008,..."

In [119]:
shp.shape

(187, 14)

In [117]:
json = pd.read_json('/home/datascience/Downloads/Demo _JSON_20/JSON/Vastu Khand-1.json')

In [134]:
json.head()

,active,antiPollutionMeasureAvailable,arvDifference,assessmentDate,circleNumber,cityId,compCode,constructionStatus,constructionYear,docs,electricityConnectionNumber,emailId,fatherName,fireFightingFacilitiesAvailable,floor,floorAreaSplits,geoLocation,geoShape,gisId,groundWaterRechargingAvailable,houseCategory,houseName,houseNumber,houseType,husbandName,isMultiStoryBuilding,lastAssessmentDate,liftFacilityAvailable,mapId,mapParcelId,mergedToId,mobileNumber,mohallaId,multipleShopsInProperty,newArv,newHoldingNumber,nigamApprovedOn,nigamApproverId,nigamRemarks,nonresidentialCategory,nonresidentialSubCategory,numberOfFloors,occupancyStatus,oldArv,oldHoldingNumber,oldPropertyTaxId,oldSurveyId,oldTax,ownerId,ownerName,parentPlotId,parkingAvailable,plantationDone,plotArea,powerBackupAvailable,propertyAddress,propertyId,propertyLabel,qcApprovedOn,qcApproverId,qcApproverName,qcRemarks,qcWardSubmittedDate,rainWaterHarvesting,respondentName,respondentRemarks,respondentStatus,revenueCircle,riApprovedOn,riApproverId,riRemarks,riTax,riWardSubmittedDate,roadWidth,sewerageConnectionAvailable,solarPanelAvailable,sourceOfWater,splitFromId,status,supervisorId,surveyEndDate,surveyStartDate,surveyStatus,surveyorId,surveyorName,tax,totalAreaOnGroundFloor,totalBuiltUpArea,totalRentedNonResidentialBuiltupArea,totalRentedResidentialBuiltupArea,totalRooms,totalSelfNonResidentialBuiltupArea,totalSelfResidentialBuiltupArea,tsApprovedOn,tsApproverId,tsRemarks,vendorRemarks,wardId,wardNumber,waterConnectionAvailable,zoApprovedOn,zoApproverId,zoRemarks,zoWardSubmittedDate,zoneId,Mohalla Name
0,True,False,91.672977,2019-12-16T00:00:00.000Z,,eea0844a-2053-47a6-9657-de77477d6d9c,NaN,Constructed,2015,"{'docOwnerDocuments': [], 'docOwnerIdDetails':...",,ABC@NIC.IN,shri vivek mishra,False,0,[{'id': '27130eb3-bc00-47eb-81a9-fd8f0a1cb24d'...,"{'x': 26.8747349, 'y': 81.0044424}",NaN,None,0.0,NonResidential,,1/35,Pakka,,True,None,True,1/35,4151,NaN,0.000000e+00,7c404ac2-edca-4f3b-96b7-bc8bab409aac,NaN,"$941,505.60",NaN,NaN,NaN,NaN,NaN,NaN,2.0,SelfOccupied,"$491,204.14",,9157G64123,36034f37-d0bd-4619-be18-d7198334d766,"$73,680.62",,shrimati shijni mishra,e7a0dcb1-5398-4433-8c1c-fa59e4fa35af,True,False,2150,True,vastu khand,dabec319-2f15-45ae-97f6-886d050e15bf,00-001,2019-12-26T00:00:00.000Z,5709595f-fe49-43a2-b55d-350ab17ee73e,Parveen,FWJV,NaN,0.0,,done,Owner,,NaN,NaN,NaN,NaN,NaN,TwelveTo24,1.0,False,MunicipalConnection,NaN,NaN,None,2019-12-16T19:38:23.000Z,2019-12-16T19:33:38.000Z,Done,c932dd51-45a3-4bfe-a0c6-c261bf115cee,BHEEM VIKRAM SINGH,"$141,225.84",2000.0,8000,0,0,NaN,8000,0,NaN,NaN,NaN,done,b34310c9-9a55-4a5a-85a8-6c663eb80178,49,NaN,NaN,NaN,NaN,NaN,db9c3905-de37-4d05-a1eb-29e43fc1fded,Vastu Khand-1
1,True,False,2726.430417,2020-01-14T00:00:00.000Z,,eea0844a-2053-47a6-9657-de77477d6d9c,NaN,Constructed,2010,"{'docOwnerDocuments': [], 'docOwnerIdDetails':...",,,,False,0,[{'id': '1e44b7f4-b682-4743-8dea-1a5f0d846288'...,"{'x': 26.870045662157, 'y': 81.0258598278693}",NaN,None,0.0,NonResidential,,1/023,Pakka,,True,None,False,1/23,4011,NaN,NaN,7c404ac2-edca-4f3b-96b7-bc8bab409aac,NaN,"$689,112.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rented,"$24,381.00",,9157B95587,7f081176-ac7a-4582-9f8a-ed205bafe7b5,"$3,657.15",,ARCHANA GUPTA,bc425bf2-1b68-4e27-8984-37f55ea91d6a,False,False,2150,False,vastu khand 1,353c1fe7-54c2-4480-8c0e-8362bcd13a2d,00-001,2020-01-29T00:00:00.000Z,c4f009c8-f179-4bab-aea2-55974d42725f,Neeraj Rana RNR,New Assessment,NaN,0.0,,Done,Tenant,,NaN,NaN,NaN,103366.8,NaN,TwelveTo24,1.0,False,MunicipalConnection,NaN,NaN,None,2020-01-14T15:36:15.000Z,2019-12-16T22:39:44.000Z,Done,c932dd51-45a3-4bfe-a0c6-c261bf115cee,BHEEM VIKRAM SINGH,"$103,366.80",1500.0,5500,5500,0,0.0,0,0,NaN,NaN,NaN,done,b34310c9-9a55-4a5a-85a8-6c663eb80178,49,NaN,NaN,NaN,NaN,NaN,db9c3905-de37-4d05-a1eb-29e43fc1fded,Vastu Khand-1
2,True,False,NaN,2020-01-14T00:00:00.000Z,,eea0844a-2053-47a6-9657-de77477d6d9c,NaN,Constructed,2010,"{'docOwnerDocuments': [], 'docOwnerIdDetails':...",,,S/O LATE B.P.TIWARI,False,0,[{'id': '6cba419d-e67a-4400-bac1-db7cd1c1b1c1'...,"{'x': 26.8603045, 'y': 81.0258904}",NaN,None,0.0,Mix,,1/018,Pakka,,True,None,False,1/18,4007,NaN,NaN,7c404ac2-edca-4f3b-96b7-bc8bab409aac,NaN,"$57,600.00",NaN,NaN,NaN,NaN,NaN,NaN,1.0,SelfOccupied,None,,9157B94060,None,None,,DEVENDRA KUMAR TIWARI,41b083ba-e9ec-46e3-a1b8-d4c58fa4a4ca,True,False,1850,False,vastu khand,51381ad2-37d1-4a3a-bd83-2a319740c27b,00-001,2019-12-21T00:00:00.000Z,9f92b193-1fe2-4c69-9d5b-556e07ef6978,Sandeep Singh,New Assessment,NaN,0.0,DEVENDRA KUMAR TIWARI,done,Owner,,NaN,NaN,NaN,NaN,NaN,TwelveTo24,1.0,False,MunicipalConnection,NaN,NaN,None,2020-01-14T15:44:37.000Z,2019-12-16T13:43:48.000Z,Done,c932dd51-45a3-4bfe-a0c6-c261bf115cee,BHEEM VIKRAM SINGH,"$8,640.00",1650.0,3100,0,0,NaN,300,2800,NaN,NaN,NaN,done,b34310c9-9a55-4a5a-85a8-6c663eb80178,49,NaN,NaN,NaN,NaN,NaN,db9c3905-de37-4d05-a1eb-29e43fc1fded,Vastu Khand-1
3,True,False,0.797440,2010-01-04T00:00:00.000Z,,eea0844a-2053-47a6-9657-de77477d6d9c,NaN,Constructed,2007,"{'docOwnerDocuments': [], 'docOwnerIdDetails':...",,,,False,0,[{'id': 'ceb98fb2-0440-4844-bdc8-ada9ad8b7e12'...,"{'x': 26.8604636565271, 'y': 81.0194571405436}",NaN,29,0.0,Residential,,1/139,Pakka,,True,2013-01-04T00:00:00.000Z,False,1/139,29,NaN,0.000000e+00,7c404ac2-edca-4f3b-96b7-bc8bab409aac,NaN,"$19,845.00",NaN,NaN,NaN,NaN,NaN,NaN,1.0,SelfOccupied,"$19,688.00",,9157B96211,69f7d825-3aa8-499d-8f62-34f47320de64,"$2,953.20",,RAJ KUMAR SRIVASTAVA,f2106edf-bd18-4ff4-8ed4-01b1a175edfc,True,False,1150,True,vastu khand1,5896e93c-462d-4e61-b590-f6496bd20c9f,00-001,2019-09-06T00:00:00.000Z,5709595f-fe49-43a2-b55d-350ab17ee73e,Parveen,D to c,NaN,0.0,RAJ KUMAR SRIVASTAVA,Documents not show,Owner,,NaN,NaN,NaN,NaN,NaN,Below12,1.0,False,OwnConnection,NaN,NaN,,2019-07-01T00:00:00.000Z,2019-07-01T00:00:00.000Z,Done,c932dd51-45a3-4bfe-a0c6-c261bf115cee,BHEEM VIKRAM SINGH,"$2,976.75",900.0,1750,0,0,5.0,0,1750,NaN,NaN,NaN,done 3/10/19,b34310c9-9a55-4a5a-85a8-6c663eb80178,49,NaN,NaN,NaN,NaN,NaN,db9c3905-de37-4d05-a1eb-29e43fc1fded,Vastu Khand-1
4,True,True,22.294118,2011-04-01T00:00:00.000Z,,eea0844a-2053-47a6-9657-de77477d6d9c,NaN,Constructed,2006,"{'docOwnerDocuments': [], 'docOwnerIdDetails':...",,,,False,0,[{'id': 'b4de592c-2acc-42af-8594-e455d71da925'...,"{'x': 26.8687379127368, 'y': 81.0254744812846}",NaN,4166,0.0,Residential,Sahaj jyoti,1/40,Pakka,,True,2013-04-01T00:00:00.000Z,False,1/40,4166,NaN,9.415530e+09,7c404ac2-edca-4f3b-96b7-bc8bab409aac,NaN,"$37,422.00",NaN,NaN,NaN,NaN,NaN,NaN,1.0,SelfOccupied,None,,9157B90887,None,None,NA,VIMLA VERMA,ee8108fa-fe59-45b4-ada6-782dd01c09ec,True,True,2000,False,vastu khand 1,149cb5a2-d3ae-41a2-b7d7-ad328ee05843,00-001,2019-09-02T00:00:00.000Z,9f92b193-1fe2-4c69-9d5b-556e07ef6978,Sandeep Singh,d to c,NaN,0.0,Sahaj jyoti,Documents not show,Owner,,NaN,NaN,NaN,NaN,NaN,Below12,1.0,False,OwnConnection,NaN,NaN,,2019-07-16T00:00:00.000Z,2019-07-16T00:00:00.000Z,Done,6073e156-4e3e-4158-a624-995c6ce981cd,NICKEY SONKER,"$5,613.30",1800.0,3300,0,0,0.0,0,3300,NaN,NaN,NaN,done,b34310c9-9a55-4a5a-85a8-6c663eb80178,49,NaN,NaN,NaN,NaN,NaN,db9c3905-de37-4d05-a1eb-29e43fc1fded,Vastu Khand-1

In [133]:
json['Mohalla Name'] = 'Vastu Khand-1'

In [120]:
json.shape

(341, 105)

In [125]:
json['arvDifference'].isnull().sum()

68

In [129]:
json['arvDifference'].notnull().sum()

273

In [131]:
json['qcApproverId'].notnull().sum()

341

In [132]:
json['qcApproverId'].isnull().sum()

0

In [ ]:
shp["mactch"]  = shp.apply(lambda x: len(json[(json['Mohalla Name'] == shp['Colony_Moh']) & (matchesdf['w_name'] == x['player']) & (matchesdf['round'] == 'F')]), axis =1)

In [ ]:
shp['']

------
--



----

# code

In [164]:
fileshh = glob.glob(os.path.join(('/home/datascience/Downloads/Demo _JSON_20/JSON'),"*.json"))

In [170]:
df = pd.DataFrame()
arvDifference = []
Mohalla_name = []
for file in fileshh[:]:
    dt = pd.read_json(file)
    #df['arvDifference']=dt['arvDifference'].notnull().sum() 
    name = os.path.basename(file)
    name = os.path.splitext(name)[0]
    Mohalla_name.append(name)
    arvDifference.append(dt['arvDifference'].notnull().sum() )

In [166]:
dt.head()

,active,antiPollutionMeasureAvailable,arvDifference,assessmentDate,circleNumber,cityId,compCode,constructionStatus,constructionYear,docs,electricityConnectionNumber,emailId,fatherName,fireFightingFacilitiesAvailable,floor,floorAreaSplits,geoLocation,geoShape,gisId,groundWaterRechargingAvailable,houseCategory,houseName,houseNumber,houseType,husbandName,isMultiStoryBuilding,lastAssessmentDate,liftFacilityAvailable,mapId,mapParcelId,mergedToId,mobileNumber,mohallaId,multipleShopsInProperty,newArv,newHoldingNumber,nigamApprovedOn,nigamApproverId,nigamRemarks,nonresidentialCategory,nonresidentialSubCategory,numberOfFloors,occupancyStatus,oldArv,oldHoldingNumber,oldPropertyTaxId,oldSurveyId,oldTax,ownerId,ownerName,parentPlotId,parkingAvailable,plantationDone,plotArea,powerBackupAvailable,propertyAddress,propertyId,propertyLabel,qcApprovedOn,qcApproverId,qcApproverName,qcRemarks,qcWardSubmittedDate,rainWaterHarvesting,respondentName,respondentRemarks,respondentStatus,revenueCircle,riApprovedOn,riApproverId,riRemarks,riTax,riWardSubmittedDate,roadWidth,sewerageConnectionAvailable,solarPanelAvailable,sourceOfWater,splitFromId,status,supervisorId,surveyEndDate,surveyStartDate,surveyStatus,surveyorId,surveyorName,tax,totalAreaOnGroundFloor,totalBuiltUpArea,totalRentedNonResidentialBuiltupArea,totalRentedResidentialBuiltupArea,totalRooms,totalSelfNonResidentialBuiltupArea,totalSelfResidentialBuiltupArea,tsApprovedOn,tsApproverId,tsRemarks,vendorRemarks,wardId,wardNumber,waterConnectionAvailable,zoApprovedOn,zoApproverId,zoRemarks,zoWardSubmittedDate,zoneId
0,True,False,852.888889,2010-04-01T00:00:00.000Z,,eea0844a-2053-47a6-9657-de77477d6d9c,NaN,UnderConstruction,2011,"{'docOwnerDocuments': [], 'docOwnerIdDetails':...",,,& AJAY BHARTIYA (M),True,0,[{'id': '562d27c3-1b9b-4e85-bf9f-57742e700cfc'...,"{'x': 26.8602317020385, 'y': 81.0245209529111}",NaN,6302a,False,Residential,unknown,3/025,Pakka,,True,None,False,3/025,6302A,NaN,0.000000e+00,47dbca46-b2cf-4e89-aea4-47dcf2ff6592,NaN,"$128,640.00",NaN,NaN,NaN,NaN,NaN,NaN,2.0,non-resident,"$13,500.00",,9157B96807,03a6d786-8ed4-44c6-9f47-575d2f17291b,"$2,025.00",,SMT. ANJU BHARTIYA\t&amp; AJAY BHARTIYA (M),638f3741-a440-4010-b256-f15fd9c5df83,True,False,2100,False,vinram khand 3,8982303e-7f35-4e49-ae90-45d5fc2a179a,00-001,2019-10-08T00:00:00.000Z,0528ff1c-22d7-452f-8053-361c850933c3,Anup Singh,"Non Residential Part Shop,Tower Etc missing in...",NaN,False,hony singh,not show documents,Employee,,NaN,NaN,NaN,NaN,NaN,TwelveTo24,True,False,OwnConnection,NaN,NaN,,2019-07-26T00:00:00.000Z,2019-07-26T00:00:00.000Z,Done,0dee067f-0462-420a-a578-3ef54a711ed9,DHIRENDRA KUMAR,"$19,296.00",1700,6750,0,6750,12.0,0,0,NaN,NaN,NaN,done,b34310c9-9a55-4a5a-85a8-6c663eb80178,49,NaN,NaN,NaN,NaN,NaN,db9c3905-de37-4d05-a1eb-29e43fc1fded
1,True,False,145.509523,2019-12-10T00:00:00.000Z,,eea0844a-2053-47a6-9657-de77477d6d9c,NaN,Constructed,2010,{'docOwnerDocuments': ['https://ptms.geoinfosy...,,,,False,0,[{'id': '83da2c0e-abad-4352-829f-afcc6ddb7938'...,"{'x': 26.862327, 'y': 81.0238222}",NaN,None,False,NonResidential,,3/364,Pakka,,False,None,False,3/364,6436,NaN,0.000000e+00,47dbca46-b2cf-4e89-aea4-47dcf2ff6592,NaN,"$1,224,000.00",NaN,NaN,NaN,NaN,NaN,NaN,3.0,Rented,"$498,555.00",,9157B96949,303a0d04-a786-4f62-b5bf-a0911533ad62,"$74,783.25",,Abhishek srivastava,2d069324-b8d8-4ecd-8982-ddb68041c116,False,False,2000,False,vinram khand 3,0419ae22-6657-47cb-b083-00ae290ee200,00-001,2019-12-26T00:00:00.000Z,5709595f-fe49-43a2-b55d-350ab17ee73e,Parveen,NR,NaN,False,,no response,,,NaN,NaN,NaN,NaN,NaN,TwelveTo24,True,False,OwnConnection,NaN,NaN,None,2019-12-10T15:18:02.000Z,2019-12-10T15:15:09.000Z,Done,c932dd51-45a3-4bfe-a0c6-c261bf115cee,BHEEM VIKRAM SINGH,"$183,600.00",2000,10000,10000,0,NaN,0,0,NaN,NaN,NaN,Done,b34310c9-9a55-4a5a-85a8-6c663eb80178,49,NaN,NaN,NaN,NaN,NaN,db9c3905-de37-4d05-a1eb-29e43fc1fded
2,True,False,NaN,2019-12-07T00:00:00.000Z,,eea0844a-2053-47a6-9657-de77477d6d9c,NaN,Constructed,2010,"{'docOwnerDocuments': [], 'docOwnerIdDetails':...",,,,False,0,[{'id': 'bafe414d-5a0d-4ba1-84d9-45a639e3c6c5'...,"{'x': 26.8602553898355, 'y': 81.0244792275311}",NaN,None,False,NonResidential,,,Pakka,,False,None,False,None,6298A,NaN,8.052922e+09,47dbca46-b2cf-4e89-aea4-47dcf2ff6592,NaN,"$392,659.20",NaN,NaN,NaN,NaN,NaN,NaN,2.0,Rented,None,,New Assessment,None,None,,Ajay bhartiya,029ee797-b9af-4981-adfa-53f5196a3ff1,False,False,1000,False,takhawa chauraha,545964e7-03f0-4988-b355-d11840512fb4,00-001,2019-12-21T00:00:00.000Z,0e55377f-26bd-4c6d-b438-5dce84aedeaa,Indrpal Singh,NR,NaN,False,Ajay bhartiya,done,Owner,,NaN,NaN,NaN,NaN,NaN,TwelveTo24,True,False,MunicipalConnection,NaN,NaN,None,2019-12-07T15:29:57.000Z,2019-12-07T15:25:08.000Z,Done,c932dd51-45a3-4bfe-a0c6-c261bf115cee,BHEEM VIKRAM SINGH,"$58,898.88",800,3200,3200,0,NaN,0,0,NaN,NaN,NaN,Done,b34310c9-9a55-4a5a-85a8-6c663eb80178,49,NaN,NaN,NaN,NaN,NaN,db9c3905-de37-4d05-a1eb-29e43fc1fded
3,True,False,35.000000,2011-01-04T00:00:00.000Z,,eea0844a-2053-47a6-9657-de77477d6d9c,NaN,Constructed,2014,"{'docOwnerDocuments': [], 'docOwnerIdDetails':...",,,S/O LATE HARI LAL,False,0,[{'id': 'f910dff3-b708-4f05-9dcf-3eb9f346e956'...,"{'x': 26.8615633866885, 'y': 81.0249139192612}",NaN,6352,False,Residential,,3/273,Pakka,,True,None,False,3/273,6352,NaN,9.454414e+09,47dbca46-b2cf-4e89-aea4-47dcf2ff6592,NaN,"$34,020.00",NaN,NaN,NaN,NaN,NaN,NaN,1.0,SelfOccupied,"$25,200.00",,9157B95771,83bc4077-4ef0-471e-a020-e32cfe17aeca,"$3,780.00",,BHARAT PRASAD,e5ee807c-2067-44f8-94f3-1df389eb3814,False,False,1500,False,vinram khand 3,5ce1e529-730b-4d5f-8d02-6b467eefdd0b,00-001,2019-10-08T00:00:00.000Z,0528ff1c-22d7-452f-8053-361c850933c3,Anup Singh,Property Image Not Clear,NaN,False,no response,,,,NaN,NaN,NaN,NaN,NaN,Below12,False,False,MunicipalConnection,NaN,NaN,7f2343d0-38f3-4071-ac2e-0ba32e0415a9,2019-07-23T00:00:00.000Z,2019-07-23T00:00:00.000Z,Done,622ff9ed-a997-49f3-8e4c-e94949751bf5,Rohit Kumar,"$5,103.00",1400,2700,0,0,5.0,0,2700,NaN,NaN,NaN,DONE,b34310c9-9a55-4a5a-85a8-6c663eb80178,49,NaN,NaN,NaN,NaN,NaN,db9c3905-de37-4d05-a1eb-29e43fc1fded
4,True,False,NaN,None,,eea0844a-2053-47a6-9657-de77477d6d9c,NaN,Constructed,2013,"{'docOwnerDocuments': [], 'docOwnerIdDetails':...",,,,False,0,[{'id': 'f7aaccd9-6481-4a5c-b13b-317331a9206e'...,"{'x': 26.8553024583575, 'y': 81.0381018434983}",NaN,913,False,Residential,,3/406,Pakka,,True,None,False,3/406,913,NaN,0.000000e+00,47dbca46-b2cf-4e89-aea4-47dcf2ff6592,NaN,"$47,880.00",NaN,NaN,NaN,NaN,NaN,NaN,2.0,SelfOccupied,None,,no match,None,None,,Dr.krashn ballbh,ba936fb5-4342-4a4a-9a52-6b664112153b,False,False,2500,False,VIKALP KHAND 3,9fae540a-97ef-4f04-9930-6b4c4d2cb61e,00-001,2019-10-08T00:00:00.000Z,0b130748-2de7-457b-8788-524b7178e9ab,Gopal Rui Das,d to c,NaN,False,no response,,,,NaN,NaN,NaN,NaN,NaN,Below12,True,False,MunicipalConnection,NaN,NaN,,2019-07-26T00:00:00.000Z,2019-07-26T00:00:00.000Z,done,0dee067f-0462-420a-a578-3ef54a711ed9,DHIRENDRA KUMAR,"$7,182.00",2000,3800,0,0,6.0,0,3800,NaN,NaN,NaN,DONE,b34310c9-9a55-4a5a-85a8-6c663eb80178,49,NaN,NaN,NaN,NaN,NaN,db9c3905-de37-4d05-a1eb-29e43fc1fded

In [173]:
df['Mohalla_name'] = Mohalla_name
df["arvDifference"] = arvDifference 
df.head()

   arvDifference     Mohalla_name
0            135    Vijay Khand-1
1             67  Vishesh Khand-3
2             95   Vibhav Khand-3
3            333    Viram Khand-4
4            393    Virat Khand-1

---  
--- 
-----

In [201]:
check=dt

In [ ]:
check['Greater or not']=

In [214]:
a=check[check.arvDifference > 50].count()

In [213]:
check.arvDifference.count()

210

In [223]:
fileshh = glob.glob(os.path.join(('/home/datascience/Downloads/Demo _JSON_20/JSON'),"*.json"))

In [226]:
arvDifference = []
Mohalla_name = []
greater=[]
smaller=[]
old=[]
for file in fileshh[:]:
    dt = pd.read_json(file)
    #df['arvDifference']=dt['arvDifference'].notnull().sum() 
    name = os.path.basename(file)
    name = os.path.splitext(name)[0]
    Mohalla_name.append(name)
    arvDifference.append(dt['arvDifference'].notnull().sum() )
    a=dt[dt.arvDifference > 50]
    b=a.arvDifference.count()
    greater.append(b)
    c=dt[dt.arvDifference < 50]
    d=c.arvDifference.count()
    smaller.append(d)
    old.append(dt['oldPropertyTaxId'].notnull().sum())

In [227]:
df = pd.DataFrame()
df['Mohalla_name'] = Mohalla_name
df["arvDifference"] = arvDifference 
df['Is_greater'] = greater
df['Is_smaller']= smaller
df['oldPropertyTaxId'] = old
df

       Mohalla_name  arvDifference  Is_greater  Is_smaller  oldPropertyTaxId
0     Vijay Khand-1            135          63          72               209
1   Vishesh Khand-3             67          34          33               196
2    Vibhav Khand-3             95          39          55               171
3     Viram Khand-4            333         123         208               380
4     Virat Khand-1            393         265         128               443
5   Vijyant Khand-2             37          24          13                60
6   Vishesh Khand-1             81          25          56               214
7     Vinay Khand-4            599         371         226               870
8       Anand Vihar             41          20          21               619
9   Vikrant Khand-1            117          36          81               174
10  Vijyant Khand-3            113          54          59               192
11   Vibhav Khand-2            223         132          90               308
12    Viraj Khand-2             52          14          38                87
13  Vishesh Khand-4             42          15          27                53
14    Viraj Khand-5            118          75          42               435
15    Vastu Khand-1            273         165         107               341
16   Vikalp Khand-2             87          33          53               233
17   Vineet Khand-3            391         169         221               566
18   Vikalp Khand-3             67          34          33               196
19    Viraj Khand-3             48          30          18                74
20   Vinram Khand-3            210         144          65               269

------
----
----

# check with blank

In [284]:
json = pd.read_json('/home/datascience/Downloads/Demo _JSON_20/JSON/Anand Vihar.json')

In [229]:
json['oldPropertyTaxId'].isnull().sum()

0

In [230]:
json.head()

,active,antiPollutionMeasureAvailable,arvDifference,assessmentDate,circleNumber,cityId,compCode,constructionStatus,constructionYear,docs,electricityConnectionNumber,emailId,fatherName,fireFightingFacilitiesAvailable,floor,floorAreaSplits,geoLocation,geoShape,gisId,groundWaterRechargingAvailable,houseCategory,houseName,houseNumber,houseType,husbandName,isMultiStoryBuilding,lastAssessmentDate,liftFacilityAvailable,mapId,mapParcelId,mergedToId,mobileNumber,mohallaId,multipleShopsInProperty,newArv,newHoldingNumber,nigamApprovedOn,nigamApproverId,nigamRemarks,nonresidentialCategory,nonresidentialSubCategory,numberOfFloors,occupancyStatus,oldArv,oldHoldingNumber,oldPropertyTaxId,oldSurveyId,oldTax,ownerId,ownerName,parentPlotId,parkingAvailable,plantationDone,plotArea,powerBackupAvailable,propertyAddress,propertyId,propertyLabel,qcApprovedOn,qcApproverId,qcApproverName,qcRemarks,qcWardSubmittedDate,rainWaterHarvesting,respondentName,respondentRemarks,respondentStatus,revenueCircle,riApprovedOn,riApproverId,riRemarks,riTax,riWardSubmittedDate,roadWidth,sewerageConnectionAvailable,solarPanelAvailable,sourceOfWater,splitFromId,status,supervisorId,surveyEndDate,surveyStartDate,surveyStatus,surveyorId,surveyorName,tax,totalAreaOnGroundFloor,totalBuiltUpArea,totalRentedNonResidentialBuiltupArea,totalRentedResidentialBuiltupArea,totalRooms,totalSelfNonResidentialBuiltupArea,totalSelfResidentialBuiltupArea,tsApprovedOn,tsApproverId,tsRemarks,vendorRemarks,wardId,wardNumber,waterConnectionAvailable,zoApprovedOn,zoApproverId,zoRemarks,zoWardSubmittedDate,zoneId
0,True,0.0,NaN,NaN,,eea0844a-2053-47a6-9657-de77477d6d9c,NaN,Constructed,2016,"{'docOwnerDocuments': [], 'docOwnerIdDetails':...",,,,0.0,0,[{'id': '410ee5f6-ede5-46fd-906d-0eea0acce52a'...,"{'x': 26.8725466597548, 'y': 81.0412242314137}",NaN,550-b,0.0,NonResidential,,,Pakka,,0.0,NaN,0.0,,550-B,NaN,0.0,20884f91-408c-460a-9be2-861ba67c8691,NaN,"$49,419.00",NaN,NaN,NaN,NaN,NaN,NaN,0.0,Rented,None,,new Assessment,None,None,,Jay Shree Plywood Hardware Agency,7488d856-952e-4c83-924c-00aab011a99f,0.0,0.0,450,0.0,CH1_01-Anand Vihar,e4f5f1b4-6f28-43d3-a60c-47960cf97ce2,00-001,2020-01-16T00:00:00.000Z,9f92b193-1fe2-4c69-9d5b-556e07ef6978,Sandeep Singh,new Assessment,NaN,0.0,vijay shanker,not response,,,NaN,NaN,NaN,7412.85,NaN,Below12,1.0,0.0,PublicTap,NaN,NaN,,2019-07-06T00:00:00.000Z,2019-07-06T00:00:00.000Z,Done,738cdd76-d900-4abf-aea5-b06bd8dc883b,Rambabu,"$7,412.85",400,800,800.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,done,93f17b7a-4268-45e7-98fa-a0269a1fa756,35,NaN,NaN,NaN,NaN,NaN,db9c3905-de37-4d05-a1eb-29e43fc1fded
1,True,0.0,NaN,NaN,,eea0844a-2053-47a6-9657-de77477d6d9c,NaN,NotConstructed,0,"{'docOwnerDocuments': [], 'docOwnerIdDetails':...",,,,0.0,0,[{'id': 'db5e0894-35f5-4430-b82d-3ee6a54f7e7d'...,"{'x': 26.8701654486976, 'y': 81.0363154979387}",NaN,398,0.0,Residential,,Vacant land,VacantLand,,0.0,NaN,0.0,,398,NaN,0.0,20884f91-408c-460a-9be2-861ba67c8691,NaN,"$3,855.60",NaN,NaN,NaN,NaN,NaN,NaN,0.0,SelfOccupied,None,,New Assessment,None,None,,,b5fafa14-4e5b-4669-b1d9-efa1108ed833,0.0,0.0,2100,0.0,ardarsh vihar colony,df79bd2e-ef1c-4ec4-974c-cf9592e6269e,00-001,2019-12-13T00:00:00.000Z,9f92b193-1fe2-4c69-9d5b-556e07ef6978,Sandeep Singh,New Assessment,NaN,0.0,raju,not response,,,NaN,NaN,NaN,NaN,NaN,Below12,1.0,0.0,OwnConnection,NaN,NaN,,2019-07-01T00:00:00.000Z,2019-07-01T00:00:00.000Z,Done,dc0c2655-5108-466e-ba91-8cfc5392c8f6,Anand Kumar,$578.34,2100,2100,0.0,0.0,0.0,0.0,2100.0,NaN,NaN,NaN,Done,93f17b7a-4268-45e7-98fa-a0269a1fa756,35,NaN,NaN,NaN,NaN,NaN,db9c3905-de37-4d05-a1eb-29e43fc1fded
2,True,0.0,NaN,NaN,,eea0844a-2053-47a6-9657-de77477d6d9c,NaN,NotConstructed,2016,"{'docOwnerDocuments': [], 'docOwnerIdDetails':...",,,,0.0,0,[{'id': '6d56b738-c05d-4299-8d35-5831cfe04332'...,"{'x': 26.8716624989688, 'y': 81.0385550497463}",NaN,378_B,0.0,Residential,,,VacantLand,,0.0,NaN,0.0,,378_B,NaN,0.0,20884f91-408c-460a-9be2-861ba67c8691,NaN,"$1,800.00",NaN,NaN,NaN,NaN,NaN,NaN,0.0,SelfOccupied,None,,No Match,None,None,,,6265fcf8-3fe3-4d9b-9f30-340196ce31df,0.0,0.0,1000,0.0,Anand Vihar,fdf4eaf4-25fb-4ace-b028-68e54b6c828b,00-001,2019-11-12T00:00:00.000Z,9f92b193-1fe2-4c69-9d5b-556e07ef6978,Sandeep Singh,d to c,NaN,0.0,padosi,not response,,,NaN,NaN,NaN,NaN,NaN,Below12,0.0,0.0,WaterSupplyNotPresentWithin100Yards,NaN,NaN,,2019-07-05T00:00:00.000Z,2019-07-05T00:00:00.000Z,Done,dc0c2655-5108-466e-ba91-8cfc5392c8f6,Anand Kumar,$270.00,1000,1000,0.0,0.0,0.0,0.0,1000.0,NaN,NaN,NaN,done,93f17b7a-4268-45e7-98fa-a0269a1fa756,35,NaN,NaN,NaN,NaN,NaN,db9c3905-de37-4d05-a1eb-29e43fc1fded
3,True,0.0,NaN,NaN,,eea0844a-2053-47a6-9657-de77477d6d9c,NaN,Constructed,2008,"{'docOwnerDocuments': [], 'docOwnerIdDetails':...",,,,0.0,0,[{'id': '7fd0f6cf-cf45-4acd-94d2-65da5eadc248'...,"{'x': 26.8702958098856, 'y': 81.0366123760424}",NaN,None,0.0,Residential,,,Kutcha,,0.0,NaN,0.0,,287,NaN,0.0,20884f91-408c-460a-9be2-861ba67c8691,NaN,"$3,240.00",NaN,NaN,NaN,NaN,NaN,NaN,0.0,SelfOccupied,None,,,None,None,,Gulam Rasool,6adf0f92-a8a3-4394-bee6-c30272d1e37a,0.0,0.0,960,0.0,malhour road,e51c5fbf-dcb5-4374-97c1-ef4b85289187,00-001,2019-10-01T00:00:00.000Z,0e55377f-26bd-4c6d-b438-5dce84aedeaa,Indrpal Singh,d to c,NaN,0.0,Mosina,no reasponce,,,NaN,NaN,NaN,NaN,NaN,Below12,0.0,0.0,OwnConnection,NaN,NaN,,2019-07-02T00:00:00.000Z,2019-07-02T00:00:00.000Z,Done,dc0c2655-5108-466e-ba91-8cfc5392c8f6,Anand Kumar,$486.00,500,500,0.0,0.0,NaN,0.0,500.0,NaN,NaN,NaN,done,93f17b7a-4268-45e7-98fa-a0269a1fa756,35,NaN,NaN,NaN,NaN,NaN,db9c3905-de37-4d05-a1eb-29e43fc1fded
4,True,0.0,NaN,NaN,,eea0844a-2053-47a6-9657-de77477d6d9c,NaN,Constructed,2005,"{'docOwnerDocuments': [], 'docOwnerIdDetails':...",,,,0.0,0,[{'id': 'be362a59-79de-43f9-982d-f57ce598560d'...,"{'x': 26.870351015707598, 'y': 81.0360788831783}",NaN,342,0.0,Residential,,,Pakka,,0.0,NaN,0.0,,342,NaN,0.0,20884f91-408c-460a-9be2-861ba67c8691,NaN,"$4,860.00",NaN,NaN,NaN,NaN,NaN,NaN,0.0,SelfOccupied,None,,,None,None,,,afcd2635-6296-49c2-a44d-419bdda951a8,0.0,0.0,1000,0.0,Malhour road,ea23b1cd-52a1-4a05-9c01-3d9216d076c7,00-001,2019-09-03T00:00:00.000Z,c0f28e66-3fc7-44e7-bad9-c089e15d6030,Abhishek Pratap Singh,Photo is not clear all floor informaton is mis...,NaN,0.0,kaleem,not response,,,NaN,NaN,NaN,NaN,NaN,Below12,1.0,0.0,OwnConnection,NaN,NaN,,2019-07-01T00:00:00.000Z,2019-07-01T00:00:00.000Z,Done,738cdd76-d900-4abf-aea5-b06bd8dc883b,Rambabu,$729.00,750,750,0.0,0.0,NaN,0.0,750.0,NaN,NaN,NaN,done,93f17b7a-4268-45e7-98fa-a0269a1fa756,35,NaN,NaN,NaN,NaN,NaN,db9c3905-de37-4d05-a1eb-29e43fc1fded

In [231]:
json['oldPropertyTaxId'].unique()

array(['new Assessment', 'New Assessment', 'No Match', '', '9157G46889',
       'New assessment', 'new assessment', '9157G56122', '9157G69803',
       '9157G69738', '9157G43133', '9157G69712', 'new asessment',
       '9157B89260', '9157B89357', '9157B89356', '9157G69809',
       '9157G69817', '9157G69815', '9157G69808', '9157G69756',
       '9157G69748', '9157G69736', '9157G69870', '9157G69767',
       '9157G69867', '9157B88980', '9157G69768', '9157G69769',
       '9157G69740', '9157G69714', '9157G69718', '9157G69720',
       '9157B96165', '9157G69695', '9157G69706', '9157G69690',
       '9157G69687', '9157G69692', '9157G69691', '9157G69689',
       '9157G69694', '9157G69699', '9157G69693', '9157G69688',
       '9157G69685', '9157B88925', '9157B93607', '9157B89358',
       '9157B88979', '9157B88978', '402000621', '9157B89350',
       '9157B92913', '9157G46943', '402001005', '9157B88974',
       '9157B88975', '9157B89355', '9157G78257', '9157B94255',
       '9157B88968', '9157B88972', '9157G69864', '9157B98455'],
      dtype=object)

In [263]:
a=pd.DataFrame(json[json['oldPropertyTaxId']== ''])

In [251]:
(json['oldPropertyTaxId']== '').count()

619

In [262]:
json['oldPropertyTaxId'].isnull().sum()

0

In [267]:
a = (json['oldPropertyTaxId'].notnull().sum())-((json['oldPropertyTaxId']== '').count())

In [268]:
a

0

In [273]:
json=json.head(25)

In [274]:
json['oldPropertyTaxId'].notnull().sum()

25

In [275]:
(json['oldPropertyTaxId']== '').count()

25

In [277]:
json['oldPropertyTaxId'].isnull().sum()

0

In [278]:
(json['oldPropertyTaxId']== ' ').count()

25

In [276]:
json['oldPropertyTaxId'].head(20)

0     new Assessment
1     New Assessment
2           No Match
3
4
5         9157G46889
6
7
8     New assessment
9
10
11
12
13
14
15
16
17
18
19
Name: oldPropertyTaxId, dtype: object

In [282]:
a=pd.DataFrame(json[json['oldPropertyTaxId']== ''])

In [283]:
a.shape

(459, 105)

In [236]:
json.shape

(619, 105)

In [239]:
json[['oldPropertyTaxId']].head(10)

  oldPropertyTaxId
0   new Assessment
1   New Assessment
2         No Match
3
4
5       9157G46889
6
7
8   New assessment
9

In [244]:
a[['oldPropertyTaxId']].head(10)

   oldPropertyTaxId
3
4
6
7
9
10
11
12
13
14

In [286]:
json=json.replace(r'^\s*$', np.nan, regex=True)

In [ ]:
a=pd.DataFrame(json[json['oldPropertyTaxId']== ''])

In [287]:
json['oldPropertyTaxId'].head()

0    new Assessment
1    New Assessment
2          No Match
3               NaN
4               NaN
Name: oldPropertyTaxId, dtype: object

In [288]:
json.shape

(619, 105)

In [289]:
a=pd.DataFrame(json[json['oldPropertyTaxId']== ''])

In [290]:
a.shape

(0, 105)

In [291]:
json['oldPropertyTaxId'].isnull().sum()

459

In [292]:
json['oldPropertyTaxId'].notnull().sum()

160

In [ ]:
json['oldProprtyTaxId']

----

----

## Afer removing blank

In [294]:
fileshh = glob.glob(os.path.join(('/home/datascience/Downloads/Demo _JSON_20/JSON'),"*.json"))

In [299]:
arvDifference = []
arvDifference2 = []
Mohalla_name = []
greater=[]
smaller=[]
old=[]
for file in fileshh[:]:
    dt = pd.read_json(file)
    #df['arvDifference']=dt['arvDifference'].notnull().sum() 
    name = os.path.basename(file)
    name = os.path.splitext(name)[0]
    Mohalla_name.append(name)
    dt=dt.replace(r'^\s*$', np.nan, regex=True)
    arvDifference.append(dt['arvDifference'].notnull().sum() )
    arvDifference2.append(dt['arvDifference'].isnull().sum() )
    a=dt[dt.arvDifference > 50]
    b=a.arvDifference.count()
    greater.append(b)
    c=dt[dt.arvDifference < 50]
    d=c.arvDifference.count()
    smaller.append(d)
    old.append(dt['oldPropertyTaxId'].notnull().sum())

In [300]:
df = pd.DataFrame()
df['Mohalla_name'] = Mohalla_name
df["arvDifference(Matched)"] = arvDifference 
df['arvDifference(NotMatched)'] = arvDifference2
df['arvD_Is_greater_50'] = greater
df['arvD_Is_smaller_50']= smaller
df['oldPropertyTaxId'] = old
df

,Mohalla_name,arvDifference(Matched),arvDifference(NotMatched),arvD_Is_greater_50,arvD_Is_smaller_50,oldPropertyTaxId
0,Vijay Khand-1,135,74,63,72,208
1,Vishesh Khand-3,67,129,34,33,161
2,Vibhav Khand-3,95,76,39,55,139
3,Viram Khand-4,333,47,123,208,380
4,Virat Khand-1,393,50,265,128,441
5,Vijyant Khand-2,37,23,24,13,60
6,Vishesh Khand-1,81,133,25,56,154
7,Vinay Khand-4,599,271,371,226,813
8,Anand Vihar,41,578,20,21,160
9,Vikrant Khand-1,117,57,36,81,144
10,Vijyant Khand-3,113,79,54,59,191
11,Vibhav Khand-2,223,85,132,90,280
12,Viraj Khand-2,52,35,14,38,86
13,Vishesh Khand-4,42,11,15,27,49
14,Viraj Khand-5,118,317,75,42,435
15,Vastu Khand-1,273,68,165,107,341
16,Vikalp Khand-2,87,146,33,53,230
17,Vineet Khand-3,391,175,169,221,419
18,Vikalp Khand-3,67,129,34,33,161
19,Viraj Khand-3,48,26,30,18,74
20,Vinram Khand-3,210,59,144,65,267

## add extra

In [312]:
arvDifference = []
arvDifference2 = []
Mohalla_name = []
greater=[]
smaller=[]
old=[]
nigamApproverId=[]
propertyId=[]
qcApprovedOn=[]

for file in fileshh[:]:
    
    dt = pd.read_json(file)
    
    name = os.path.basename(file)
    name = os.path.splitext(name)[0]
    Mohalla_name.append(name)
    
    dt=dt.replace(r'^\s*$', np.nan, regex=True)
    
    arvDifference.append(dt['arvDifference'].notnull().sum() )
    arvDifference2.append(dt['arvDifference'].isnull().sum() )
    
    a=dt[dt.arvDifference > 50]
    b=a.arvDifference.count()
    greater.append(b)
    c=dt[dt.arvDifference <= 50]
    d=c.arvDifference.count()
    smaller.append(d)
    
    old.append(dt['oldPropertyTaxId'].notnull().sum())
    propertyId.append(dt['propertyId'].notnull().sum())
    nigamApproverId.append(dt['nigamApproverId'].notnull().sum())
    qcApprovedOn.append(dt['qcApprovedOn'].notnull().sum())

In [313]:
df = pd.DataFrame()
df['Mohalla_name'] = Mohalla_name
df["arvDifference(Matched)"] = arvDifference 
df['arvDifference(NotMatched)'] = arvDifference2
df['arvD_Is_greater_50'] = greater
df['arvD_Is_smaller_50']= smaller
df['oldPropertyTaxId'] = old
df['propertyId']= propertyId
df['nigamApproverId']= nigamApproverId
df['qcApprovedOn']= qcApprovedOn
df

,Mohalla_name,arvDifference(Matched),arvDifference(NotMatched),arvD_Is_greater_50,arvD_Is_smaller_50,oldPropertyTaxId,propertyId,nigamApproverId,qcApprovedOn
0,Vijay Khand-1,135,74,63,72,208,209,0,209
1,Vishesh Khand-3,67,129,34,33,161,196,0,196
2,Vibhav Khand-3,95,76,39,56,139,171,0,171
3,Viram Khand-4,333,47,123,210,380,380,0,380
4,Virat Khand-1,393,50,265,128,441,443,124,443
5,Vijyant Khand-2,37,23,24,13,60,60,0,60
6,Vishesh Khand-1,81,133,25,56,154,214,0,214
7,Vinay Khand-4,599,271,371,228,813,870,0,870
8,Anand Vihar,41,578,20,21,160,619,0,619
9,Vikrant Khand-1,117,57,36,81,144,174,0,174
10,Vijyant Khand-3,113,79,54,59,191,192,0,192
11,Vibhav Khand-2,223,85,132,91,280,308,0,308
12,Viraj Khand-2,52,35,14,38,86,87,0,87
13,Vishesh Khand-4,42,11,15,27,49,53,0,53
14,Viraj Khand-5,118,317,75,43,435,435,0,435
15,Vastu Khand-1,273,68,165,108,341,341,0,341
16,Vikalp Khand-2,87,146,33,54,230,233,0,233
17,Vineet Khand-3,391,175,169,222,419,566,0,566
18,Vikalp Khand-3,67,129,34,33,161,196,0,196
19,Viraj Khand-3,48,26,30,18,74,74,0,74
20,Vinram Khand-3,210,59,144,66,267,269,0,269

In [314]:
df.to_csv('/home/datascience/Downloads/Demo _JSON_20/Required.csv')

-----

----

In [ ]:
df.to_csv('')

In [174]:
dt.head()

,active,antiPollutionMeasureAvailable,arvDifference,assessmentDate,circleNumber,cityId,compCode,constructionStatus,constructionYear,docs,electricityConnectionNumber,emailId,fatherName,fireFightingFacilitiesAvailable,floor,floorAreaSplits,geoLocation,geoShape,gisId,groundWaterRechargingAvailable,houseCategory,houseName,houseNumber,houseType,husbandName,isMultiStoryBuilding,lastAssessmentDate,liftFacilityAvailable,mapId,mapParcelId,mergedToId,mobileNumber,mohallaId,multipleShopsInProperty,newArv,newHoldingNumber,nigamApprovedOn,nigamApproverId,nigamRemarks,nonresidentialCategory,nonresidentialSubCategory,numberOfFloors,occupancyStatus,oldArv,oldHoldingNumber,oldPropertyTaxId,oldSurveyId,oldTax,ownerId,ownerName,parentPlotId,parkingAvailable,plantationDone,plotArea,powerBackupAvailable,propertyAddress,propertyId,propertyLabel,qcApprovedOn,qcApproverId,qcApproverName,qcRemarks,qcWardSubmittedDate,rainWaterHarvesting,respondentName,respondentRemarks,respondentStatus,revenueCircle,riApprovedOn,riApproverId,riRemarks,riTax,riWardSubmittedDate,roadWidth,sewerageConnectionAvailable,solarPanelAvailable,sourceOfWater,splitFromId,status,supervisorId,surveyEndDate,surveyStartDate,surveyStatus,surveyorId,surveyorName,tax,totalAreaOnGroundFloor,totalBuiltUpArea,totalRentedNonResidentialBuiltupArea,totalRentedResidentialBuiltupArea,totalRooms,totalSelfNonResidentialBuiltupArea,totalSelfResidentialBuiltupArea,tsApprovedOn,tsApproverId,tsRemarks,vendorRemarks,wardId,wardNumber,waterConnectionAvailable,zoApprovedOn,zoApproverId,zoRemarks,zoWardSubmittedDate,zoneId
0,True,False,852.888889,2010-04-01T00:00:00.000Z,,eea0844a-2053-47a6-9657-de77477d6d9c,NaN,UnderConstruction,2011,"{'docOwnerDocuments': [], 'docOwnerIdDetails':...",,,& AJAY BHARTIYA (M),True,0,[{'id': '562d27c3-1b9b-4e85-bf9f-57742e700cfc'...,"{'x': 26.8602317020385, 'y': 81.0245209529111}",NaN,6302a,False,Residential,unknown,3/025,Pakka,,True,None,False,3/025,6302A,NaN,0.000000e+00,47dbca46-b2cf-4e89-aea4-47dcf2ff6592,NaN,"$128,640.00",NaN,NaN,NaN,NaN,NaN,NaN,2.0,non-resident,"$13,500.00",,9157B96807,03a6d786-8ed4-44c6-9f47-575d2f17291b,"$2,025.00",,SMT. ANJU BHARTIYA\t&amp; AJAY BHARTIYA (M),638f3741-a440-4010-b256-f15fd9c5df83,True,False,2100,False,vinram khand 3,8982303e-7f35-4e49-ae90-45d5fc2a179a,00-001,2019-10-08T00:00:00.000Z,0528ff1c-22d7-452f-8053-361c850933c3,Anup Singh,"Non Residential Part Shop,Tower Etc missing in...",NaN,False,hony singh,not show documents,Employee,,NaN,NaN,NaN,NaN,NaN,TwelveTo24,True,False,OwnConnection,NaN,NaN,,2019-07-26T00:00:00.000Z,2019-07-26T00:00:00.000Z,Done,0dee067f-0462-420a-a578-3ef54a711ed9,DHIRENDRA KUMAR,"$19,296.00",1700,6750,0,6750,12.0,0,0,NaN,NaN,NaN,done,b34310c9-9a55-4a5a-85a8-6c663eb80178,49,NaN,NaN,NaN,NaN,NaN,db9c3905-de37-4d05-a1eb-29e43fc1fded
1,True,False,145.509523,2019-12-10T00:00:00.000Z,,eea0844a-2053-47a6-9657-de77477d6d9c,NaN,Constructed,2010,{'docOwnerDocuments': ['https://ptms.geoinfosy...,,,,False,0,[{'id': '83da2c0e-abad-4352-829f-afcc6ddb7938'...,"{'x': 26.862327, 'y': 81.0238222}",NaN,None,False,NonResidential,,3/364,Pakka,,False,None,False,3/364,6436,NaN,0.000000e+00,47dbca46-b2cf-4e89-aea4-47dcf2ff6592,NaN,"$1,224,000.00",NaN,NaN,NaN,NaN,NaN,NaN,3.0,Rented,"$498,555.00",,9157B96949,303a0d04-a786-4f62-b5bf-a0911533ad62,"$74,783.25",,Abhishek srivastava,2d069324-b8d8-4ecd-8982-ddb68041c116,False,False,2000,False,vinram khand 3,0419ae22-6657-47cb-b083-00ae290ee200,00-001,2019-12-26T00:00:00.000Z,5709595f-fe49-43a2-b55d-350ab17ee73e,Parveen,NR,NaN,False,,no response,,,NaN,NaN,NaN,NaN,NaN,TwelveTo24,True,False,OwnConnection,NaN,NaN,None,2019-12-10T15:18:02.000Z,2019-12-10T15:15:09.000Z,Done,c932dd51-45a3-4bfe-a0c6-c261bf115cee,BHEEM VIKRAM SINGH,"$183,600.00",2000,10000,10000,0,NaN,0,0,NaN,NaN,NaN,Done,b34310c9-9a55-4a5a-85a8-6c663eb80178,49,NaN,NaN,NaN,NaN,NaN,db9c3905-de37-4d05-a1eb-29e43fc1fded
2,True,False,NaN,2019-12-07T00:00:00.000Z,,eea0844a-2053-47a6-9657-de77477d6d9c,NaN,Constructed,2010,"{'docOwnerDocuments': [], 'docOwnerIdDetails':...",,,,False,0,[{'id': 'bafe414d-5a0d-4ba1-84d9-45a639e3c6c5'...,"{'x': 26.8602553898355, 'y': 81.0244792275311}",NaN,None,False,NonResidential,,,Pakka,,False,None,False,None,6298A,NaN,8.052922e+09,47dbca46-b2cf-4e89-aea4-47dcf2ff6592,NaN,"$392,659.20",NaN,NaN,NaN,NaN,NaN,NaN,2.0,Rented,None,,New Assessment,None,None,,Ajay bhartiya,029ee797-b9af-4981-adfa-53f5196a3ff1,False,False,1000,False,takhawa chauraha,545964e7-03f0-4988-b355-d11840512fb4,00-001,2019-12-21T00:00:00.000Z,0e55377f-26bd-4c6d-b438-5dce84aedeaa,Indrpal Singh,NR,NaN,False,Ajay bhartiya,done,Owner,,NaN,NaN,NaN,NaN,NaN,TwelveTo24,True,False,MunicipalConnection,NaN,NaN,None,2019-12-07T15:29:57.000Z,2019-12-07T15:25:08.000Z,Done,c932dd51-45a3-4bfe-a0c6-c261bf115cee,BHEEM VIKRAM SINGH,"$58,898.88",800,3200,3200,0,NaN,0,0,NaN,NaN,NaN,Done,b34310c9-9a55-4a5a-85a8-6c663eb80178,49,NaN,NaN,NaN,NaN,NaN,db9c3905-de37-4d05-a1eb-29e43fc1fded
3,True,False,35.000000,2011-01-04T00:00:00.000Z,,eea0844a-2053-47a6-9657-de77477d6d9c,NaN,Constructed,2014,"{'docOwnerDocuments': [], 'docOwnerIdDetails':...",,,S/O LATE HARI LAL,False,0,[{'id': 'f910dff3-b708-4f05-9dcf-3eb9f346e956'...,"{'x': 26.8615633866885, 'y': 81.0249139192612}",NaN,6352,False,Residential,,3/273,Pakka,,True,None,False,3/273,6352,NaN,9.454414e+09,47dbca46-b2cf-4e89-aea4-47dcf2ff6592,NaN,"$34,020.00",NaN,NaN,NaN,NaN,NaN,NaN,1.0,SelfOccupied,"$25,200.00",,9157B95771,83bc4077-4ef0-471e-a020-e32cfe17aeca,"$3,780.00",,BHARAT PRASAD,e5ee807c-2067-44f8-94f3-1df389eb3814,False,False,1500,False,vinram khand 3,5ce1e529-730b-4d5f-8d02-6b467eefdd0b,00-001,2019-10-08T00:00:00.000Z,0528ff1c-22d7-452f-8053-361c850933c3,Anup Singh,Property Image Not Clear,NaN,False,no response,,,,NaN,NaN,NaN,NaN,NaN,Below12,False,False,MunicipalConnection,NaN,NaN,7f2343d0-38f3-4071-ac2e-0ba32e0415a9,2019-07-23T00:00:00.000Z,2019-07-23T00:00:00.000Z,Done,622ff9ed-a997-49f3-8e4c-e94949751bf5,Rohit Kumar,"$5,103.00",1400,2700,0,0,5.0,0,2700,NaN,NaN,NaN,DONE,b34310c9-9a55-4a5a-85a8-6c663eb80178,49,NaN,NaN,NaN,NaN,NaN,db9c3905-de37-4d05-a1eb-29e43fc1fded
4,True,False,NaN,None,,eea0844a-2053-47a6-9657-de77477d6d9c,NaN,Constructed,2013,"{'docOwnerDocuments': [], 'docOwnerIdDetails':...",,,,False,0,[{'id': 'f7aaccd9-6481-4a5c-b13b-317331a9206e'...,"{'x': 26.8553024583575, 'y': 81.0381018434983}",NaN,913,False,Residential,,3/406,Pakka,,True,None,False,3/406,913,NaN,0.000000e+00,47dbca46-b2cf-4e89-aea4-47dcf2ff6592,NaN,"$47,880.00",NaN,NaN,NaN,NaN,NaN,NaN,2.0,SelfOccupied,None,,no match,None,None,,Dr.krashn ballbh,ba936fb5-4342-4a4a-9a52-6b664112153b,False,False,2500,False,VIKALP KHAND 3,9fae540a-97ef-4f04-9930-6b4c4d2cb61e,00-001,2019-10-08T00:00:00.000Z,0b130748-2de7-457b-8788-524b7178e9ab,Gopal Rui Das,d to c,NaN,False,no response,,,,NaN,NaN,NaN,NaN,NaN,Below12,True,False,MunicipalConnection,NaN,NaN,,2019-07-26T00:00:00.000Z,2019-07-26T00:00:00.000Z,done,0dee067f-0462-420a-a578-3ef54a711ed9,DHIRENDRA KUMAR,"$7,182.00",2000,3800,0,0,6.0,0,3800,NaN,NaN,NaN,DONE,b34310c9-9a55-4a5a-85a8-6c663eb80178,49,NaN,NaN,NaN,NaN,NaN,db9c3905-de37-4d05-a1eb-29e43fc1fded

In [ ]:

ranksdf["t_wins"]  = ranksdf.apply(lambda x: len(matchesdf[(matchesdf['t_date'] < x['date']) & (matchesdf['w_name'] == x['player']) & (matchesdf['round'] == 'F')]), axis =1)

In [182]:
x=pd.DataFrame()
p=[]

In [183]:
p

[]

In [191]:
p.append('ghg')

In [192]:
x['k']=p

x

# process to make new dataframe with new column

### creat empty list

In [194]:
avr =[]

#### append the the values in list

In [195]:
avr.append('check')

#### create empty dataframe

In [196]:
dd=pd.DataFrame()

In [197]:
dd

Empty DataFrame
Columns: []
Index: []

### create a column and give the appended list to that column

In [198]:
dd['AVRAGE']=avr

#### call the dataframe

In [199]:
dd

  AVRAGE
0  check

----
-----

In [ ]:
dd['']

In [ ]:
df = pd.DataFrame()
for file in fileshh[:]:
    dt = pd.read_json(file)
    name = os.path.basename(file)
    name = os.path.splitext(name)[0]
    df['BID_column'] = df['BID_column'].append(name)
   
    
    
    
    

# Generate result using pandas 
result = [] 
for value in df["Marks"]: 
    if value >= 33: 
        result.append("Pass") 
    elif value < 0 and value > 100: 
        result.append("Invalid") 
    else: 
        result.append("Fail") 
       
df["Result"] = result    
print(df)

In [96]:
name

'82z21'

In [92]:
df.head()

Empty DataFrame
Columns: [BID_column]
Index: []

In [ ]:
df = pd.DataFrame()
for file in fileshh[:]:
    dt = Image.open(file)
    name = os.path.basename(file)
    name = os.path.splitext(name)[0]
    dt['Mohalla Name'] = name
    dt2 = dt.copy()
    df = df.append(dt2)

In [ ]:
/home/datascience/Downloads/ward_1 check

In [68]:
path='/home/datascience/Downloads/ward_1 check/PID/'
def image_rename():
    for img in tqdm(os.listdir(path)):
        if os.path.isfile(path+img):
            filename, file_extention = os.path.splitext(path+img)
            os.rename(os.path.join(path, img), os.path.join('/home/datascience/Downloads/ward_1 check/PID/All New', 
                            img.lower()))

image_rename()

100%|██████████| 64/64 [00:00<00:00, 46289.96it/s]

In [67]:
path='/home/datascience/Downloads/ward_1 check/BID/'
def image_rename():
    for img in tqdm(os.listdir(path)):
        if os.path.isfile(path+img):
            filename, file_extention = os.path.splitext(path+img)
            os.rename(os.path.join(path, img), os.path.join('/home/datascience/Downloads/ward_1 check/BID/All new', 
                            img.lower()))

image_rename()

100%|██████████| 35/35 [00:00<00:00, 3908.01it/s]

In [ ]:
hh

In [ ]:
fileshh = glob.glob(os.path.join(('/home/datascience/Downloads/ward_1 check/BID'),"*.jpeg"))

In [60]:
for file in fileshh[:]:
    filename, file_extention = os.path.splitext(path+img)
    os.rename(os.path.join(path, img), os.path.join(path,img.lower()))

TypeError: can only concatenate list (not "JpegImageFile") to list

In [ ]:
def main(): 
    i = 0
      
    for filename in fileshh:
        
        dst ="Hostel" + str(i) + ".jpg"
        src ='xyz'+ filename 
        dst ='xyz'+ dst 
          
        # rename() function will 
        # rename all the files 
        os.rename(src, dst) 
        i += 1
  
# Driver Code 
if __name__ == '__main__': 
      
    # Calling main() function 
    main()

In [ ]:
/home/datascience/Downloads/ward_1

In [23]:
import shutil
shutil.move("path/to/current/file.foo", "path/to/new/destination/for/file.foo")

In [17]:
from PIL import Image, ImageFile

In [18]:
img = Image.open("/home/datascience/Downloads/ward_1/BID/51z21.jpeg")

In [19]:
img.save("/home/datascience/Downloads/check.jpeg", "JPEG", quality=80, optimize=True, progressive=True)